* {
  box-sizing: border-box;
}

body {
  margin: 0;

}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.wrapper {
  display: flex;
}

.board-container {
  flex-basis: 60%;
  padding-right: 15px;
}

.board {
  min-height: 210px;
}

.statistics {
  flex-basis: 40%;
}

